body {
  margin: 0px;
  padding: 0px;
}

#PARENT {
  background-color: mediumslateblue;
  padding: 1em;
}

#block1 {
  background-color: mediumturquoise;
  padding: 1em;
  height: 200px;
  width: 200px;
}

#innerblock {
  background-color: mediumvioletred;
  height: 200px;
  width: 200px;
  ;
}

#block2 {
  background-color: orangered;
  position: absolute;
  padding: 1em;

  height: 200px;
  width: 200px;
  top: 150px;
  left: 60px;
  z-index: 4;

}

#block3 {
  background-color: mediumblue;
  position: absolute;
  padding: 1em;


  height: 200px;
  width: 200px;
  top: 160px;
  left: 70px;
  z-index: 3;

}

#block4{
    background-color:red;
    position: absolute;
    padding: 1em;
  
  
    height: 200px;
    width: 200px;
    top: 170px;
    left: 80px;

    z-index: 1;
} 
#block5{
    background-color:saddlebrown;
    position: absolute;
    padding: 1em;
  
  
    height: 200px;
    width: 200px;
    top: 180px;
    left: 90px;

} 
#parentbox