.header{
    color: orangered;
    padding:10px;
    font-size: 24px;
    background-color: papayawhip;
    height: 160px;
}

.logo{


}

.postTitel{
    color:#464f41;
}


.basicSection{
    background-color: #a3d2ca;
    

}

.nietDeSidebar{

    padding-left: 200px;
    padding-top: 1px;

}

.sidebar{
    background-color: plum;

    height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
 
}
