html{
    height: 100%;
}



body{
    

margin-bottom: 15%;

    height: 80%;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.titel{
    height:200px;
    width: 100%;
    margin-top: -27px; 
 
    background-color: plum;
    color:rgb(90, 7, 90);


    text-align: center;
    line-height: 200px;
}


aside{
    float: left;
    height: 200px;
    width: 13%;
    margin-top: 0px; 

    margin-bottom: 0;
}

nav {
    margin-top: 0px;
    background-color: royalblue;
    width: 13%;
    height: 250%;
    float: left;
}

.articleimg{
    padding-top: 0%;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-right: 1%;
    width: 90%;

}

.thumbnail{
    float: left;
    width: 24%;
}

main {
    background-color: rgb(180, 245, 245);
    width: 87%;
    float: right;
    margin-bottom: 8%;
}

article{
    font-size: small;
    height: 100%;
    width: 100%;
    /* background-color: rgb(213, 236, 241); */
}

h1{
    font-size: smaller;
    font-weight: bold;
}

.content{
    height: 100%;
}

.artxt{
padding-top: 1%;
}

footer{
    background-color: black;
    color: chartreuse;
position:fixed;
bottom: 0;
left: 0;
width: 100%;

}